# Node
frontend/node_modules/
frontend/dist/
frontend/.npm/
*.log

# Python
backend/venv/
backend/__pycache__/
backend/.pytest_cache/
*.pyc

# Models
backend/models/
backend/debug_outputs/

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
