__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Debug outputs
debug_outputs/

# Downloaded Models (Do not include massive weights in Docker build context)
models/
